.body {
    background-color: #6599ff;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.w {
    background-color: #f5f5f5;
    height: 80vh;
    width: 55vw;
    border-radius: 15px;
    box-shadow: #0000005b 4px 5px 40px -5px;
    display: flex;
    justify-content: space-around;
}

.left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
}

.aa {
    color: #686868;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

.a {
    padding-top: 80px;
}

.aa:hover {
    color: #17171f;
    transition: .25s;
}


.image {
    width: 180px;
    height: 180px;
}

.line {
    border-left: 1px #000 solid;
    height: 80%;
    margin: auto 0;
    box-shadow: #0000005b 4px 5px 40px -5px;
}

.heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #17171f;
    padding-bottom: 40px;
}

.change {
    display: flex;
    padding-top: 20px;
}

.button {
    color: #fff;
    background-color: #548bfa;
    border: solid 1px #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 17px;
    border-radius: 20px;
    padding: 4px 12px;
    margin-top: 120px;
    cursor: pointer;
    transition: 0.25s;
}

.button:hover {
    cursor: pointer;
    border: solid 1px #06286e;
    color: #f9f8f8e5;
    box-shadow: 0 0 5px 2px rgba(0, 55, 255, 0.331);
    transition: 0.25s;
}

.mail::placeholder , .pw::placeholder{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #877b7b;
}

.mail::placeholder .line, .pw::placeholder .line{
    height: 50px;
    background-color: #000;
}

.mail, .pw {
    background-color: #f5f5f5;
    border: none; 
    outline:none;
    font-size: 15px;
    font-family: inter;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    width: 90%;
}

.right {
    width: 40%;
    margin-right: 20px;
    margin-top: 30px;
}

.icon {
    padding-right: 15px;
}

.small {
    display: none;
}

@media (max-width: 450px) {
    .left, .line {
        display: none;
    }
    .w {
        width: 80vw;
        height: 57vh;
        display: flex;
      }
    .right {
        width: 70vw;
    margin: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .change {
        width: 65vw;
      }
      .button {
        margin-top: 60px;
      }
      .heading {
        padding-bottom: 20px;
      }
      .btnBox {
        display: flex;
        justify-content: center;
      }
      .small {
        display: block;
        padding-top: 40px;
      }
}