.body {
  background-color: #6599ff;
  display: flex;
  height: 105vh;
  justify-content: center;
  align-items: center;
}

.w {
  background-color: #f5f5f5;
  height: 80vh;
  width: 55vw;
  border-radius: 15px;
  box-shadow: #0000005b 4px 5px 40px -5px;
  display: flex;
  justify-content: space-around;
}

.left {
  width: 40%;
  margin-left: 5%;
  margin-top: 5%;
}

.name,
.mail,
.pw {
  background-color: #f5f5f5;
  border: none;
  outline: none;
  font-size: 15px;
  font-family: inter;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  width: 500px;
}

.head {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #17171f;
  padding-bottom: 30px;
}

.mail::placeholder,
.pw::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #877b7b;
}

.icon {
  padding-right: 15px;
}

.button {
  color: #f9f8f8e5;
  background-color: #548bfa;
  border: solid 1px #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  border-radius: 20px;
  padding: 4px 12px;
  margin-top: 100px;
  box-shadow: none;
  transition: 0.3s;
}

.button:hover {
  cursor: pointer;
  border: solid 1px #031946;
  color: #f9f8f8e5;
  box-shadow: 0 0 20px 1px rgba(0, 55, 255, 0.331);
  transition: 0.25s;
}

.change {
  display: flex;
  padding-top: 15px;
  width: 100%;
}

.mail:hover .line,
.pw:hover .line,
.name:hover .line {
  height: 50px;
  background-color: #000;
}

.line {
  border-left: 1px #000 solid;
  height: 80%;
  margin: auto 0;
  box-shadow: #0000005b 0 0 10px;
}

.image {
  width: 180px;
  height: 180px;
  padding-top: 30px;
}

.right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 35px;
}

.a {
  padding-top: 80px;
  color: #686868;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: none;
}

.a:hover {
  color: #17171f;
  transition: 0.25s;
  text-decoration: underline;
}

.small {
  display: none;
}

.link {
    color: #686868; 
    font-family: "Poppins", sans-serif;
font-size: 1rem;
font-weight: 400;
text-decoration: underline;
}
.link:hover {
    color: #17171f;
transition: 0.25s;
text-decoration: underline;
}

@media (max-width: 450px) {
  .right,
  .line {
    display: none;
  }
  .w {
    width: 80vw;
    height: 60vh;
    display: flex;
  }
  .left {
    width: 70vw;
    margin: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .change {
    width: 65vw;
  }
  .button {
    margin-top: 60px;
  }
  .btnBox {
    display: flex;
    justify-content: center;
  }
  .small {
    display: block;
    padding-top: 40px;
  }
    
}
