.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading {
    font-family: inter;
    font-weight: 500;
    font-size: 2rem;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 2rem;
}

.hline {
    width: 100%;
    height: 1px;
    background-color: #000;
}

.inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.pie {
    width: 300px;
    height: 300px;
}

.bar {
    width: 500px;
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vline {
    height: 100%;
    width: 1px;
    background-color: #000;
}

@media (max-width: 450px) {
    .heading {
        font-size: 1.4rem;
    }
    .inner {
        flex-direction: column;
    }
    .pie {
        margin-top: 20px;
        width: 280px;
    }
    .bar {
        width: 250px;
        height: 200px;
    }
    .vline {
        width: 100%;
        height: 1px;
        margin-top: 20px;
    }
}