#transactions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 200px;
}

.headTransaction {
  text-decoration: underline;
  text-align: center;
  font-family: inter;
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.addTransaction {
  width: 75vw;
  background-color: #fff;
  border-radius: 18px;
  border: 3px solid;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
}

.bodyTransaction {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.transactionRight {
  width: 300px;
  margin-right: 50px;
}

.newTransaction,
.updateTransaction,
.trackTransaction {
  background-color: #99d4fd;
  border-radius: 15px;
  border: 3px solid;
  padding: 10px;
  margin: 40px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: inter;
  width: 200px;
}

.icon {
  width: 50px;
  margin-top: 20px;
}

.piggy {
  width: 46px;
  margin-top: 24px;
}

.newTransactionText,
.updateTransactionText,
.trackTransactionText {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin: 30px 0;
}

.newTransactionBtn,
.updateTransactionBtn,
.trackTransactionBtn {
  font-size: 1.5rem;
  font-family: inter;
  background-color: rgb(242, 243, 255);
  border: 1px solid;
  font-weight: 500;
  border-radius: 5px;
  transition: 0.5s;
  margin: 20px;
  margin-bottom: 30px;
  width: 110px;
  height: 35px;
}

.newTransactionBtn:hover,
.updateTransactionBtn:hover,
.trackTransactionBtn:hover {
  cursor: pointer;
  opacity: 90%;
  transition: 0.3s;
  box-shadow: 0 0 8px 3px #00000020;
}

.headExtend {
  position: relative;
  transition: 1s;
}

.addExtend {
  width: 75vw;
  background-color: #fff;
  display: flex;
  justify-content: center;
  border-radius: 18px;
  border: 3px solid;
  border-top: solid 1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-bottom: 40px;
}

.addHead {
  font-family: inter;
  font-weight: 500;
  font-size: 2rem;
  text-decoration: underline;
}

.addExtend2 {
  width: 100%;
  height: 500px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}

.addExtend3 {
  width: 100%;
  height: 500px;
  background-color: green;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}

.innerExtend1 {
  width: 65vw;
  height: 400px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.innerExtend2 {
  width: 65vw;
  height: 400px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.addExpense,
.updateExpense,
.trackExpense {
  width: 75vw;
  background-color: #fff;
  display: flex;
  justify-content: center;
  border-radius: 18px;
  border: 3px solid;
  border-top: solid 1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-bottom: 40px;
}

.trackExpense {
  padding-bottom: 0;
}

.notTrack {
  font-family: inter;
  font-weight: 500;
  font-size: 2rem;
  margin: 30px;
}

@media (max-width: 450px) {
  .bodyTransaction {
    flex-direction: column;
  }
  .newTransaction,
  .updateTransaction,
  .trackTransaction {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .newTransactionText,
  .updateTransactionText,
  .trackTransactionText {
    font-size: 1rem;
    margin: 0;
  }
  .newTransactionBtn,
.updateTransactionBtn,
.trackTransactionBtn {
  margin: 0;
  font-size: 0.8rem;
  width: auto;
}
.icon {
  display: none;
}
  .break {
    display: none;
  }
}
